@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">');
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins, sans-serif'; */
}

.swiper-button-next,
.swiper-button-prev {
  color: #7c3aed !important;
}

.swiper-pagination-bullet-active {
  background: #7c3aed !important;
}
